<div [id]="id()" popover class="fixed inset-0 m-10 p-5 blur-2xl">
  <header class="flex justify-between">
    <div class="text-2xl">{{ title() }}</div>
    <button class="btn-dismiss border-none size-8 flex justify-center items-center"
            (click)="closed.emit()">
      <ng-icon class="rotate-45" name="heroPlus"></ng-icon>
    </button>
  </header>
  <div>
    <ng-content></ng-content>
  </div>
  <footer class="flex justify-end gap-4">
    <button class="btn-dismiss py-1 px-2">{{ cancelText() }}</button>
    <button class="btn text-white bg-blue-500! hover:bg-blue-600! py-1 px-2"
            (click)="action.emit()">{{ confirmText() }}</button>
  </footer>
</div>
