<div class="flex items-center justify-between mb-5">
  <h2 class="text-lg font-bold">Мої страви</h2>
  <button class="btn items-center py-1 px-3"
          routerLink="new">
    <ng-icon class="mr-1" name="heroPlus" />
    Додати
  </button>
</div>

@if (meals().length) {
  <input class="w-full border bg-white border-gray-300 rounded-xl py-1 px-4 mb-5" type="text"
         (input)="onSearch($any($event.target).value)"
         placeholder="Пошук страви...">
} @else {
  <p class="text-center text-gray-500 text-sm mb-2">Создайте блюдо чтобы начать</p>
  <button class="mx-auto btn items-center py-1 px-3"
          routerLink="new">
    <ng-icon class="mr-1" name="heroPlus" />
    Создать
  </button>
}

@for (meal of filteredMeals(); track meal.id) {
  <section class="p-3 border bg-white border-gray-300 mb-3 rounded-xl">
    <div class="mb-2 flex justify-between">
      <h3 class="font-normal">{{ meal.name }}</h3>
      <div class="flex justify-between items-center gap-3">
        <button class="btn size-6 flex justify-center items-center"
                [routerLink]="[meal.id]">
          <ng-icon name="heroPencil" />
        </button>
        <button class="btn size-6 flex justify-center items-center"
                (click)="remove(meal.id)">
          <ng-icon name="heroTrash" />
        </button>
        <button class="btn px-3">
          Додати до кошика
        </button>
        <div class="bg-green-100 text-green-700 border border-gray-300 rounded py-0.5 px-2">у кошику</div>
      </div>
    </div>
    <div class="flex flex-wrap gap-3">
      @for (ingredient of meal.ingredients; track $index) {
        <div class="bg-green-100 text-green-700 rounded py-0.5 px-2">{{ ingredient | appMealIngredient }}</div>
      }
    </div>
  </section>
}
